<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="BeanPostProcessorFile" class="ch.qos.logback.core.FileAppender">
		<append>false</append>
		<file>target2/JUnit-BeanPostProcessor.log</file>
		<encoder>
			<pattern>%date [%thread] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="JUnitFile" class="ch.qos.logback.core.FileAppender">
		<append>false</append>
		<file>target2/JUnit-tests.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="BeanPostProcessor" level="debug" additivity="false">
		<appender-ref ref="BeanPostProcessorFile" />
	</logger>

	<logger name="com.graphql_java_generator" level="trace" additivity="false">
		<appender-ref ref="JUnitFile" />
	</logger>
	<logger name="org.allGraphQLCases" level="trace" additivity="false">
		<appender-ref ref="JUnitFile" />
	</logger>
	<logger name="org.springframework" level="trace" additivity="false">
		<appender-ref ref="JUnitFile" />
	</logger>

	<root level="warn">
		<appender-ref ref="Console" />
	</root>

</configuration>