<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="File" class="ch.qos.logback.core.FileAppender">
		<file>target/server.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.forum" level="debug" />
	<logger name="com.graphql_java_generator" level="debug" />
	<logger name="graphql" level="debug" />
	<logger name="org.springframework" level="debug" />
	<root level="info">
		<appender-ref ref="File" />
		<appender-ref ref="Console" />
	</root>

</configuration>