.settings/
target/
logs/
*.log

**/bin/
.classpath
.project


# ignore temporary files (especially office's one)
~$*

# Ignore files from maven-release-plugin
pom.xml.releaseBackup
release.properties

*.iml
idea
.idea
