target/
downloads/
logs/
*.log

# Ignore IntelliJ files
*.iml
idea
.idea

# Ignore eclipse files
.settings/
**/bin/
.classpath
.project

# Ignore VSCode files
**/.vscode

# ignore temporary files (especially office's one)
~$*

# Ignore files from maven-release-plugin
pom.xml.releaseBackup
release.properties


/spring-graphql_issue_with_JPMS.txt
