<!-- GraphQL Maven Plugin (HowTo Contribute) -->

<!--ts-->
   * [How-to contribute](internal_howto_contribute.md#how-to-contribute)
   * [Build the project](internal_howto_contribute.md#build-the-project)
   * [Respect the code format](internal_howto_contribute.md#respect-the-code-format)

<!-- Added by: runner, at: Thu Mar 18 20:36:50 UTC 2021 -->

<!--te-->


# How-to contribute

You're (of course) invited to contribute to this project. Here are some hints for that.



# Build the project

The first step is of course to build the project on your computer. For that, please read the [HOWTO Build it](./internal_howto_build.html) doc.



# Respect the code format

If you use eclipse, please use the __code formatter__ given with the project (file _graphql-java-generator (eclipse code formatter).xml_ at the root of the project). This allows to have the sample code formatting: the code is then homogeneous, and the comparison between versions is simpler. 

To do this, go to the eclipse preferences, select Java/Code Style/Formatter, and import this file. Then, in the Java/Editor/Save Actions, check the "Perform the selected action on save", "Format source code", "Format all lines", "Organize imports" and "Additional actions" which its default content.
  