
<!--ts-->
   * [The Server tutorials](server_tutorial.md#the-server-tutorials)

<!-- Added by: runner, at: Thu Mar 18 20:36:52 UTC 2021 -->

<!--te-->

# The Server tutorials

These tutorials describe how to use this plugin, when building a GraphQL servver:
* The _Maven_ Client tutorial describes how to use this Maven plugin, when building a GraphQL client. It's in the [GraphQL-Forum-Maven-Tutorial-server git repository](https://github.com/graphql-java-generator/GraphQL-Forum-Maven-Tutorial-server).
* The _Gradle_ Server tutorial describes how to build a GraphQL server in the [GraphQL-Forum-Gradle-Tutorial-server git repository](https://github.com/graphql-java-generator/GraphQL-Forum-Gradle-Tutorial-server).